<div class="container-fluid">
  <ng-container *ngFor="let item of dataLeave">
    <div class="card card-color mt-2" data-toggle="modal" data-target="#exampleModalCenter" (click)="getDataUser(item)">
      <div class="card-body">
        <div class="row">
          <div class="col-7 center">
            <h5 class="card-title color-white">ลาพักร้อน 5 วัน</h5>
          </div>
          <div class="col-5">
            <button class="status">รออนุมัติ</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 center">
            <h5 class="card-title color-white">{{item.start_time}} - {{item.end_time}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <h5 class="card-title color-white">{{item.reason}}</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button class="approve">ผู้อนุมัติ : {{item.leave_approvals[0]?.employee.name_th}}</button>
              </div>
            </div>
          </div>
          <div class="col-6 img-profile">
            <img class="img-profile" src="{{profile ? profile.pictureUrl : ''}}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!-- modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row mt-2 text-center">
            <div class="col-12">
              <h5>รายละเอียด</h5>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 d-flex justify-content-center">
              <img class="img-profile" src="{{profile ? profile.pictureUrl : ''}}" />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <h5>{{profile ? profile.displayName : ''}}</h5>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <h5>ลาพักร้อน 5 วัน</h5>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="small-text">คงเหลือ 3 ชั่วโมง</label>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <h5>ช่วงเวลา</h5>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="small-text">{{statusPreview?.start_time}} - {{statusPreview?.end_time}}</label>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <h5>เหตุผลการลา</h5>
            </div>
          </div>
          <div class="row">
              <div class="col">
                <label class="small-text">{{statusPreview?.reason}}</label>
              </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <h5>  <img src="../../../assets/tick-circle.svg" /> ผู้อนุมัติ : {{statusPreview?.leave_approvals[0]?.employee.name_th}}</h5>
            </div>
          </div>
          <div class="row">
              <div class="col">
                <label class="small-text"></label>
              </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <h5>เอกสารแนบ</h5>
            </div>
          </div>
          <div class="row">
              <div class="col">
                <label class="small-text">{{statusPreview?.file ? statusPreview?.file : 'ไม่ได้แนบไฟล์'}}</label>
              </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 text-center">
              <!-- data-dismiss="modal" data-toggle="modal" data-target="#exampleModalCenter1" -->
              <button type="button" class="btn-send" (click)="send()">
                ยกเลิกการลา
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row mt-2">
            <div class="col-12 text-center">
              <img src="../../../assets/GROUP.svg" />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 text-center">
              <h5>กรุณาระบุเหตุผลการยกเลิกใบลา</h5>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 text-center">
              <textarea class="form-coltrol textarea" placeholder="เหตุผลที่ยกเลิกการลา" rows="5" [(ngModel)]="note"></textarea>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 text-center">
              <button type="button" class="btn-send" data-dismiss="modal" (click)="send()">
                บันทึก
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>