<div class="container-fluid">
  <ng-container>
    <div class="card card-color mt-2" data-toggle="modal" data-target="#exampleModalCenter">
      <div class="card-body">
        <div class="row">
          <div class="col-7 center">
            <h5 class="card-title color-white">ลาพักร้อน 5 วัน</h5>
          </div>
          <div class="col-5">
            <button class="status">รออนุมัติ</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12 center">
            <h5 class="card-title color-white">1/12/66 - 1/15/66</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <h5 class="card-title color-white">เที่ยว ตจว.</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button class="approve">ผู้อนุมัติ : สุธาสินี</button>
              </div>
            </div>
          </div>
          <div class="col-6 img-profile">
            <img src="../../../assets/GROUP.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!-- modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row mt-2 text-center">
            <div class="col-12">
              <h5>รายละเอียด</h5>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 text-center">
              <img src="../../../assets/GROUP.svg" />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 text-center">
              <h5>ไตรทิพย์ xxxxx</h5>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 text-center">
              <h5>ลาพักร้อน 5 วัน</h5>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <label class="small-text">คงเหลือ 3 วัน</label>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 text-center">
              <h5>ช่วงเวลา</h5>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <label class="small-text">1/18/66 - 1/20/66</label>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 text-center">
              <h5>เหตุผลการลา</h5>
            </div>
          </div>
          <div class="row">
              <div class="col text-center">
                <label class="small-text">เที่ยว ตจว.</label>
              </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 text-center">
              <h5>  <img src="../../../assets/tick-circle.svg" /> ผู้อนุมัติ</h5>
            </div>
          </div>
          <div class="row">
              <div class="col text-center">
                <label class="small-text">ไม่ได้หลับ ไม่ได้นอน</label>
              </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 text-center">
              <h5>เอกสารแนบ</h5>
            </div>
          </div>
          <div class="row">
              <div class="col text-center">
                <label class="small-text">-</label>
              </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 text-center">
              <button type="button" class="btn-send" data-dismiss="modal" data-toggle="modal" data-target="#exampleModalCenter1" >
                ยกเลิกการลา
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row mt-2">
            <div class="col-12 text-center">
              <img src="../../../assets/GROUP.svg" />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 text-center">
              <h5>กรุณาระบุเหตุผลการยกเลิกใบลา</h5>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 text-center">
              <textarea class="form-coltrol textarea" placeholder="เหตุผลที่ยกเลิกการลา" rows="5"></textarea>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 text-center">
              <button type="button" class="btn-send" data-dismiss="modal" (click)="send()">
                บันทึก
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>