.input-group-text {
    border-left: none;
    background-color: white;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    
}

.input-search {
    border-right: none;
}

.card-body {
    padding: 0.5rem;
}