<div class="container-fluid">
    <div class="row mt-2">
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" class="form-control input-search" placeholder="ค้นหา..." >
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">T_T</span>
                </div>
              </div>
        </div>
    </div>
    <ng-container *ngFor="let list of item">
        <div class="row mt-2" >
            <div class="col">
                <div class="card" data-toggle="modal" title="คลิกเพื่อดูข้อมูล" data-target="#exampleModalCenter" (click)="selectEmployee(list.name)">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-3 test">
                            <h6> {{list.id}} </h6>
                        </div>
                        <div class="col-9 test">
                            <h6> {{list.name}} </h6>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>