<div class="container-fluid">
  <div class="row mt-2 d-flex">
    <!-- <div class="col">
      <img class="fa-calendar" src="assets/calendar.svg" (click)="openPicker()">
    </div> -->
    <div class="col text-end">
      <img src="assets/user.svg" alt="" (click)="checkStatus()" >
    </div>
  </div>
    <ng-container *ngFor="let list of dataLeave">
      <!-- <ng-container *ngFor="let item of dataDays"> -->
        <div class="card card-color mt-2" (click)="getDataUser(list)">
          <div class="card-body">
            <div class="row">
              <div class="col-7 center">
                <h5 class="card-title color-white">{{list.leave.employee?.name_th}}</h5>
              </div>
              <div class="col-5">
                <button class="status">รออนุมัติ</button>
              </div>
            </div>
            <div class="row">
              <div class="col-12 center">
                <h5 class="card-title color-white">{{list.leave.leave_type_name}}  <label  *ngIf="list.leave?.leave_format == 'FULL'">เต็มวัน</label> <label  *ngIf="list.leave?.leave_format == 'HALF_MORNING'">ครึ่งวันเช้า</label> <label  *ngIf="list.leave?.leave_format == 'HALF_NOON'">ครึ่งวันบ่าย</label></h5>
              </div>
            </div>
            <div class="row">
              <div class="col-12 center">
                <h5 class="card-title color-white">{{list.leave.start_time}} - {{list.leave.end_time}}</h5>
              </div>
            </div>
              <div class="row">
                <div class="col-12">
                  <h5 class="card-title color-white">{{list.leave.reason}}</h5>
                </div>
              </div>
            <div class="row mt-2">
              <div class="col">
                <button class="approve">ผู้อนุมัติ : {{myName ? myName.name_th : ''}}</button>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12 d-flex justify-content-center">
                <!-- data-toggle="modal" data-target="#exampleModalCenter" -->
                <button class="btn-history" data-toggle="modal" data-target="#exampleModalCenter1">รายละเอียดการลา</button>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12 d-flex justify-content-center">
                <!-- data-toggle="modal" data-target="#exampleModalCenter" -->
                <button class="btn-history" data-toggle="modal" data-target="#exampleModalCenter" (click)="checkLeave(list.leave)" >ประวัติการลา</button>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6 d-flex justify-content-center">
                <button class="btn-approve" (click)="cilckApprove(list)"> <img src="assets/tick-square.svg"> อนุมัติ</button>
              </div>
              <div class="col-6 d-flex justify-content-center">
                <button class="btn-approve" data-toggle="modal" data-target="#exampleModalCenter2" (click)="sentData(list)"> <img src="assets/close-square.svg"> ไม่อนุมัติ</button>
              </div>
            </div>
          </div>
        </div>
      <!-- </ng-container> -->
    </ng-container>
</div>

<!-- modal -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row mt-2 text-center">
          <div class="col-12">
            <h5>รายละเอียด</h5>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12 text-center">
            <h5>{{statusPreview?.leave?.employee?.name_th}}</h5>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <h5 class="card-title">{{statusPreview?.leave?.leave_type_name}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <!-- <label class="small-text">คงเหลือ 3 ชั่วโมง</label> -->
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <h5>ช่วงเวลา : <label  *ngIf="statusPreview?.leave?.leave_format == 'FULL'">เต็มวัน</label> <label  *ngIf="statusPreview?.leave?.leave_format == 'HALF_MORNING'">ครึ่งวันเช้า</label> <label  *ngIf="statusPreview?.leave?.leave_format == 'HALF_NOON'">ครึ่งวันบ่าย</label></h5>
          </div>
        </div>
        <div class="row mt-2" *ngIf="statusPreview?.leave?.leave_format == 'FULL'">
          <div class="col-12">
            <h5>จำนวน : <label>{{statusPreview?.leave?.leave_hour / 8}} วัน</label> </h5>
          </div>
        </div>
        <div class="row">
          <div class="col">
            &nbsp;  <label class="small-text">{{statusPreview?.leave?.start_time}} - {{statusPreview?.leave?.end_time}}</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <h5>เหตุผลการลา</h5>
          </div>
        </div>
        <div class="row">
            <div class="col">
              &nbsp;  <label class="small-text">{{statusPreview?.leave?.reason}}</label>
            </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <h5>  <img src="assets/tick-circle.svg" /> ผู้อนุมัติ : {{statusPreview?.leave?.leave_approvals[0]?.employee.name_th}}</h5>
          </div>
        </div>
        <!-- <div class="row">
            <div class="col">
              &nbsp;  <label class="small-text">{{statusPreview?.leave?.leave_approvals[0]?.note ? statusPreview?.leave?.leave_approvals[0]?.note : 'เหตุผลการไม่อนุมัติ'}}</label>
            </div>
        </div> -->
        <div class="row mt-2">
          <div class="col-12">
            <h5>เอกสารแนบ</h5>
          </div>
        </div>
        <div class="row mb-4">
            <div class="col text-center">
              <img *ngIf="statusPreview?.leave?.file" class="img-user-file" src="{{'https://chatbot.newdice.co/VegetableOil/staticfiles/attachments/' + statusPreview?.leave?.file}}" alt="">
              <label class="small-text">{{statusPreview?.leave?.file ? statusPreview?.leave?.file : 'ไม่ได้แนบไฟล์'}}</label>
            </div>
        </div>
        <div class="row mb-4">
          <div class="col text-center">
            <button class="btn-approve" data-dismiss="modal">ปิด</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- modal -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <div class="row mt-2">
                <div class="col-12 text-center">
                  <h5>ประวัติการลา</h5>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 text-center">
                <h5>{{namePreview}}</h5>
            </div>
            </div>
            <ng-container *ngFor="let list of data">
              <div class="row mt-2">
                  <div class="col">
                      <div class="card card-border">
                          <div class="card-body">
                              <div class="row d-flex justify-content-center">
                                  <!-- <div class="col-2">
                                      <img src="../../../assets/img-levea.svg">
                                  </div> -->
                                  <div class="col">
                                      <div class="row">
                                          <div class="col">
                                              <h5 class="card-title h-color">{{list.name}}</h5>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col">
                                              <h6 class="card-subtitle mb-2 text-muted">คงเหลือ {{ list.id == 10 ? '0 วัน' : getDate(list)}}</h6>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                  </div>
              </div>
          </ng-container>
          <div class="row mt-4">
            <div class="col text-center">
              <button class="btn-approve" data-dismiss="modal">ปิด</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row mt-2">
            <div class="col-12 text-center">
              <img src="assets/seccess-circle.svg" />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 text-center">
              <h5>กรุณาระบุเหตุผลการไม่อนุมัติ</h5>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 text-center">
              <textarea class="form-coltrol textarea" placeholder="เหตุผลที่ไม่อนุมัติ" rows="5" [(ngModel)]="note"></textarea>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12 text-center">
              <button type="button" class="btn-send" data-dismiss="modal" (click)="cilckNotApprove()">
                บันทึก
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>