<div class="container-fluid">
    <div class="row mt-4">
        <div class="col text-end">
            <i class="fa fa-book" aria-hidden="true" style="font-size: 1.5rem;" (click)="goBookMeet()"></i>
        </div>
    </div>
    <ng-container >
        <div class="card card-color mt-2">
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col-8">
                        <div class="row">
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </ng-container>
</div>