.btn-upload {
    border: solid 2px #00833F;
    color: #00833F;
    background-color: white;
    border-radius: 5px;
    padding: 0.5rem;
    width: 50%;
}

.small-text {
    color: #9d9d9d;
    font-size: 12px;
}

.btn-send {
    color: white;
    background-color: #00833F;
    border-radius: 5px;
    padding: 0.5rem;
    width: 90%;
    border: none;
}

.img-profile {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}