<div class="container-fluid">
    <div class="row mt-2">
        <div class="col">
            <div class="row mt-2">
                <div class="col-12 text-center">
                  <h5>ประวัติการลา</h5>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 text-center">
                <h5>{{name}}</h5>
            </div>
            </div>
            <ng-container *ngFor="let list of data">
                <div class="row mt-2">
                    <div class="col">
                        <div class="card card-border" (click)="viewDetail(list)">
                            <div class="card-body">
                                <div class="row d-flex justify-content-center">
                                    <!-- <div class="col-2">
                                        <img src="../../../assets/img-levea.svg">
                                    </div> -->
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="card-title h-color">{{list.name}}</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <h6 class="card-subtitle mb-2 text-muted">คงเหลือ {{list.id == 10 ? '0 วัน' : getDate(list)}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>